
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.transition{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
    pointer-events: none;
}

.transition-row{
    flex: 1;
    display: flex;
}

.transition-row.row1 .block{
    transform-origin: top;
}

.transition-row.row2 .block{
    transform-origin: bottom;
}

.block{
    flex: 1;
    background-color: aqua;
    transform: scaleY(1);
    will-change: transform;
}

.hang-img{
    height: 60vh;
    width: 100%;
}

.word-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.word-modal-content{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 30vw;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.input-group{
    margin-bottom: 1.5em;
}

.word-input-group input{
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.word-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.word-buttons button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.apply-word {
    background-color: #4CAF50;
    color: white;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

table{ 
    border-collapse: collapse; /* Optional: improves table appearance */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds subtle shadow */
    width: 20vw;
}


